#photo-details
  .title-show= @photo.title

  = image_tag @photo.image.url(:medium)

  - if @photo.comments.any?
    .ul
      - @photo.comments.each do |comment|
        .li
          = comment.thoughts
  - else
    %p No comments

.back-btn= link_to "Back", root_path
