%h3= link_to "Back", root_path
%section
  %h1= @photo.title

  = image_tag @photo.image.url(:medium)

  - if @photo.comments.any?
    %ul
      - @photo.comments.each do |comment|
        %li
          = comment.thoughts
  - else
    %p No comments
