/****************** body ******************/

body {
  background-color: #C9E9FD;
}



/****************** navbar ******************/

#header {
  background-color: #A5DAFB;
  padding: 15px 10px;
}

.sign {
  float: right;
  padding-right: 20px;
  padding-top: 15px;
}

.title,
.navbar {
  margin-top: 0;
  color: #fff;
  margin-bottom: 0;
}



/****************** alert and notices ******************/

.notice {
  color: #0000FF;
}



/****************** show photos page ******************/

/*section {
  max-width: 350px;
  background-color: white;
  text-align: center;
  list-style-type: none;
}*/



/****************** links ******************/

a {
  text-decoration: none;
  color: #fff;
}